page-tabs {
    .tabs-md .tabbar {
        height: 42px;
        background: #fdd12e;
        border: 3px solid #000;
        border-radius: 8px;
        color: #000;
        margin: 4%;
        width: 92%;
        top:60px!important;
    }
    .tabs-md .tab-button[aria-selected=true] {
        color: #000; /*your  text color */
        background: #e8e8e8; /* your background color*/
        border: 3px solid #000;
        border-radius: 8px;
        min-height: 117%;
       
    }
    #tab-t0-0[aria-selected=true]{
        background: #e8e8e8;
        
        border-left:none;
        
        border-top-right-radius:initial; 
        border-bottom-right-radius: initial;
    }
    #tab-t0-1[aria-selected=true]{
        background: #e8e8e8;
     
        border-right:none;
        border-top-left-radius:initial; 
        border-bottom-left-radius: initial;
    }
}
