page-map {
    #map {
        height: 100%;
    }
.head{
    
    height: 56px;
    text-align: center;
    background-color: #5bbc93;
    border-bottom: 3px solid #000;
}
.tabbar.show-tabbar{
    display: none;
}
}
